body {
  margin: 0;
  background-color: transparent;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.team-logo {
  width: 60px;
  transition: 0.3s;
  cursor: pointer;
}

.grayed {
  filter: grayscale(100%);
  opacity: 0.5;
}

#resetBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}
